<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <title>index</title>
  </head>
  <body class="container">
    <header>
      <div class="header-menu">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="/">ホーム</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/table">名詞格変化逆引き辞書</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/request">単語リクエスト</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/new">前置詞共起度検索</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">このサイトについて</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="main-logo">
      <h1>ポーランド語学習支援アプリケーション</h1>
      <h2>日本語で使えるポーランド語学習者向け学習支援Webサイト</h2>
    </div>
    <div class="main">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title">名詞格変化逆引き辞書</h5>
          <p class="card-text">
            名詞を、辞書の見出し語（単数主格形）と格変化後の形の両方から検索できます。検索結果として、見出し語・名詞性・簡易日本語訳と格変化表を表示します。学習する単語と辞書の間を繋ぐサポートをします。
          </p>
          <div class="bth_contents">
            <a class="btn" href="/table" role="button">
              <button type="button" class="btn btn-outline-danger">検索する</button>
            </a>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title">単語リクエスト</h5>
          <p class="card-text">
            名詞格変化逆引き辞書に収録されていなかった単語について収録を依頼することが出来ます。リクエストされた語は管理者によって辞書に追加されます。単語の数・格に指定はありません。データ拡充にご協力お願い致します。
          </p>
          <div class="bth_contents">
            <a class="btn" href="/request" role="button">
              <button type="button" class="btn btn-outline-danger">✚追加する</button>
            </a>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title">前置詞共起度検索</h5>
          <p class="card-text">
            前置詞を選択（もしくは入力）すると、その語と共起関係を持つ動詞と名詞が表示されます。共起度（結びつきの度合い）が高い順に表示され、これは同時に使われる頻度を表します。よく使われる表現や組み合わせを確認できます。
          </p>
          <div class="bth_contents">
            <a class="btn" href="/new" role="button">
              <button type="button" class="btn btn-outline-danger">検索する</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="top-image-right">
      <img src="/images/sozai-right.png">
    </div>
    <div class="top-image-left">
      <img src="/images/sozai-left.png">
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
