<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>request</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>単語リクエスト</h1>
    <div class="item-form-wrapper">
        <p class="form-label">単語リクエスト</p>
        <form action="/create" method="post">
          <input name="newWrod" type="text">
          <input type="submit" value="追加する">
        </form>
      </div>
    <a href="/table">検索に戻る</a>
  </body>
</html>
