<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>request</title>
  </head>
  <body>
    <h1>単語リクエスト</h1>
    <a href="/table">検索に戻る</a>
  </body>
</html>
