<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>request</title>
  </head>
  <body>
    <header class="header">
      <a href="/">ホーム</a>
      <a href="/table">名詞格変化逆引き辞書</a>
      <a href="/request">単語リクエスト</a>
    </header>
    <div class="Request">
      <h1>単語リクエスト</h1>
      <a href="/new" class="new-button">+ 新規作成</a>
    </div>
    <ul class="table-body">
      <% items.forEach((item) => { %>
            <li>
              <div class="item-data">
                <span class="id-column"><%= item.id %></span>
                <span class="name-column"><%= item.newword %></span>
              </div>
            </li>
      <% }) %>
    </ul>
  </body>
</html>
